.card {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.block {
    background: #181d2b;
    width: 24rem;
    height: 15rem;
    padding: 0 1rem 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

h5 {
    margin: 0%;
    color: #51515b;
}